{% extends "layout.html" %}
{% block title %}Meals{% endblock %}

{% block content %}
        <h1>Meals</h1>

        <form action="{{ url_for('add_vegetarian_meals') }}" method="post">
            <input type="submit" value="Add New Vegetarian Meals">
        </form>

        <ul>
                {% for meal in meals %}
                <li> <a href="/{{meal.title}}">{{meal.title}}</a></li>
                {% endfor %}
        </ul>
        <a href="/menu">View Menu</a>
        <a href="/shopping_list">View Shopping List</a>
        <a href="/stock_cupboard">View Stock Cupboard</a>
{% endblock %}