{% extends "layout.html" %}
{% block title %}Menu{% endblock %}

{% block content %}
        <h1>Menu</h1>

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Date Range Picker</title>
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        </head>

        <body>

            <form id="dateRangeForm" action="{{ url_for('add_menu_item') }}" method="post">
              <label for="startDate">Start Date:</label>
              <input type="text" id="startDate" name="startDate">
            
              <label for="endDate">End Date:</label>
              <input type="text" id="endDate" name="endDate">
            
              <input type="submit" value="Add meal to menu">
            </form>
            
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
            
            <script>
            document.addEventListener("DOMContentLoaded", function() {
              var startDateInput = document.getElementById("startDate");
              var endDateInput = document.getElementById("endDate");
            
              $(startDateInput).datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(selectedDate) {
                  $(endDateInput).datepicker("option", "minDate", selectedDate);
                  updateOutput();
                }
              });
            
              $(endDateInput).datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(selectedDate) {
                  $(startDateInput).datepicker("option", "maxDate", selectedDate);
                  updateOutput();
                }
              });
            
              function updateOutput() {
                var startDate = startDateInput.value;
                var endDate = endDateInput.value;
                console.log("Start Date: " + startDate);
                console.log("End Date: " + endDate);
              }
            });
            </script>
            
        </body>

        <table border="1">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                </tr>
                {% for menu_item, meal_card in menu_display %}
                <tr>
                    <td>{{menu_item.date}}</td>
                    <td><a href="/{{meal_card.title}}">{{meal_card.title}}</a></td>
                    <td> 
                        <form action="/delete_menu_item/{{menu_item.menu_id}}" method="post">
                            <input type="submit" value="Delete Meal">
                        </form>
                    </td>
                    <td> 
                        <form action="/replace_menu_item/{{menu_item.menu_id}}" method="post">
                        <input type="submit" value="Replace Meal">
                        </form>
                    </td>
                    <td> 
                        <form action="/add_to_shopping/{{menu_item.menu_id}}/{{meal_card.id}}" method="post">
                            <input type="submit" value="Add ingredients to Shopping" {% if menu_item.added_to_shopping == 1 %} disabled {% endif %}>
                        </form>
                    </td>
                    <td> 
                        <form action="/delete_from_shopping/{{menu_item.menu_id}}" method="post">
                            <input type="submit" value="Delete ingredients from Shopping" {% if menu_item.added_to_shopping == 0 %} disabled {% endif %}>
                        </form>
                    </td>
                </tr>
                {% endfor %}                
            </table>
        <a href="/">View Meal Folder</a>
        <a href="/shopping_list">View Shopping List</a>
        <a href="/store_cupboard">View Store Cupboard</a>
{% endblock %}