{% extends "layout.html" %}
{% block title %}Menu{% endblock %}

{% block content %}
        <h1>Menu</h1>

        <form action="{{ url_for('add_menu_item') }}" method="post">
            <input type="submit" value="Add Meal To Menu">
        </form>

        <table border="1">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                </tr>
                {% for menu_item, meal_card in menu_display %}
                <tr>
                    <td>{{menu_item.date}}</td>
                    <td><a href="/{{meal_card.title}}">{{meal_card.title}}</a></td>
                    <td> <form action="/delete_menu_item/{{menu_item.menu_id}}" method="post">
                            <input type="submit" value="Delete Meal">
                        </form>
                    </td>
                    <td> <form action="/replace_menu_item/{{menu_item.menu_id}}" method="post">
                        <input type="submit" value="Replace Meal">
                    </form>
                </td>
                </tr>
                {% endfor %}
            </table>
        <a href="/">View Meal Folder</a>
        <a href="/shopping_list">View Shopping List</a>
        <a href="/store_cupboard">View Store Cupboard</a>
{% endblock %}