{% extends "layout.html" %}
{% block title %}Repeated Date{% endblock %}

{% block content %}
        <h1>The date {{menu_item.date}} already exists</h1>
        <table border="1">
            <tr>
                <td> 
                    <form action="/" method="post">
                        <input type="submit" value="Skip">
                    </form>
                </td>
                <td> 
                    <form action="/replace_menu_item/{{menu_item.menu_id}}" method="post">
                        <input type="submit" value="Replace Meal">
                    </form>
                </td>
            </tr>
        </table>
{% endblock %}